{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock title %}
{% block topfiles %}
<script>
    $(function(){
        $('#btnLogin').click(function(){
            var username = $('#username').val()
            var password = $('#pwd').val()
            var csrf = $("input[name='csrfmiddlewaretoken']").val()
            var remember = $("input[name='remember']").prop('checked')
            var params = {
                'username':username,
                'password':password,
                'remember':remember,
                'csrfmiddlewaretoken':csrf,
            }

            $.post('/user/login_check/',params,function(data){
                if (data.res == 0){
                    $('#username').next().html('用户名或密码错误').show()
                }  else {
                    location.href = data.next_url
                
                }
            })
        })
    })
</script>
{% endblock topfiles %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="{% static 'images/logo.png' %}" style="width: 160px; height: 53px;"></a>	
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">学计算机 · 来尚硅谷</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="#">立即注册</a>
				</div>
				<div class="form_input">
                    {% csrf_token %}
						<input type="text" id='username' value='{{username}}' name="username" class="name_input" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" id='pwd' class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" {{ checked }}>
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="button" id="btnLogin" value="登录" class="input_submit">
				</div>
			</div>
		</div>
	</div>
{% endblock body %}
{% block cart_count %}{% endblock cart_count %}
